/* CSS Reset (customised) */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small, strong {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    display: block;
}

html {
    overflow-y: scroll;
}

a:hover, a:active {
    outline: none;
}

small {
    font-size: 85%;
}

strong, th {
    font-weight: bold;
}

::-moz-selection {
    background: #3b7cbf;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #3b7cbf;
    color: #fff;
    text-shadow: none;
}

a:link {
    -webkit-tap-highlight-color: #3b7cbf;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Primary Styles */
  
body {
    padding: 10px;
    font: 1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    color: #515047;
    background-color: #e5ebf2;
}

img {
    max-width: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 140px;
    height: 140px;
    background: url(../img/github.png);
    z-index: 1;
    display: block;
}
